<?xml version="1.0"?>
<robot
	xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="base" params="parent *joint_origin">
    <!-- Joints -->
		<joint name="base_link_joint" type="fixed">
			<xacro:insert_block name="joint_origin"/>
			<parent link="${parent}"/>
			<child link="base_link"/>
		</joint>

      <!-- Links -->
		<link name="base_link">
			<inertial>
				<origin xyz="0.005334608688478278 0.0002689766590861973 0.0184918721125776" rpy="0 0 0"/>
				<mass value="0.1730647056842735"/>
				<inertia ixx="0.000266" iyy="0.000406" izz="0.0006" ixy="4e-06" iyz="-0.0" ixz="-1e-06"/>
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
          <mesh filename="${meshes}/base/base_link.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<material name="dark"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
          <mesh filename="${meshes}/base/base_link.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</collision>
		</link>

      <!-- Gazebo Properties -->
		<gazebo reference="base_link">
			<selfCollide>false</selfCollide>
			<mu1 value="0.05" />
			<mu2 value="0.05" />
		</gazebo>

	</xacro:macro>
</robot>
