<?xml version="1.0" ?>
<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<transmission name="retract_mid_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="retract_mid_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="retract_mid_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="abduct_mid_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="abduct_mid_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="abduct_mid_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rotate_bottom_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rotate_bottom_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rotate_bottom_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="abduct_bottom_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="abduct_bottom_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="abduct_bottom_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="retract_bottom_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="retract_bottom_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="retract_bottom_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rotate_bottom_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rotate_bottom_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rotate_bottom_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="abduct_bottom_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="abduct_bottom_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="abduct_bottom_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="retract_bottom_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="retract_bottom_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="retract_bottom_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rotate_top_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rotate_top_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rotate_top_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="abduct_top_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="abduct_top_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="abduct_top_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="retract_top_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="retract_top_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="retract_top_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="abduct_top_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="abduct_top_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="abduct_top_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rotate_top_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rotate_top_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rotate_top_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="retract_mid_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="retract_mid_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="retract_mid_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="abduct_mid_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="abduct_mid_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="abduct_mid_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rotate_mid_right_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rotate_mid_right_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rotate_mid_right_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="rotate_mid_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="rotate_mid_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="rotate_mid_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="retract_top_left_joint_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="retract_top_left_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="retract_top_left_joint_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_208_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_208">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_208_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_209_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_209">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_209_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_210_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_210">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_210_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>
